In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../../inputs/Environmental_Data_Deep_Moor_2015.csv")

# Number of Measurements
Let's find out how often these measurements are being taken.
1. get all the unique dates
2. find the number of occurences of each date

## Get the dates

In [3]:
feb_records = df[df['date'].between('2015_02_01', '2015_02_28')]

In [4]:
feb_records

,date,time,Air_Temp,Barometric_Press,Dew_Point,Relative_Humidity,Wind_Dir,Wind_Gust,Wind_Speed
16604,2015_02_01,0:02:46,34.60,30.35,30.60,85.0,147.56,6,2.0
16605,2015_02_01,0:02:52,34.60,30.35,30.60,85.0,147.56,6,2.0
16606,2015_02_01,0:07:46,34.60,30.35,30.96,86.4,112.38,6,4.8
16607,2015_02_01,0:07:52,34.60,30.35,30.96,86.4,112.38,6,4.8
16608,2015_02_01,0:12:46,34.54,30.35,31.04,87.0,128.60,6,4.6
...,...,...,...,...,...,...,...,...,...
31793,2015_02_28,23:49:04,34.94,30.32,19.30,52.4,352.81,8,5.8
31794,2015_02_28,23:53:35,35.00,30.32,19.96,53.8,351.80,8,5.0
31795,2015_02_28,23:54:05,35.00,30.32,19.88,53.6,349.00,8,5.0
31796,2015_02_28,23:58:36,35.00,30.32,19.98,53.8,345.20,8,4.8
31797,2015_02_28,23:59:05,35.00,30.33,20.14,54.2,347.00,8,4.8

In [5]:
dates_in_feb = feb_records['date'].unique()

# How many of each
To do:
- create a series of each date
- create array with the numbers for all Feb dates

In [7]:
counts = df['date'].value_counts()
records_by_day = [counts[x] for x in dates_in_feb]

In [ ]:
plt.plot(dates_in_feb, records_by_day)